.image-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.image-strip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.image {
    height: 110px;
    width: 110px;
    margin: auto;
    background-color: #000;
}
.image img {
    height: 100%;
    margin-left: 13px; /* centers image in 110px div */
}

.image.selected {
    background-color: green;
}

.image-question .button {
    width: 50%;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

#image-question-text {
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.image-question ons-row {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
#done-button {
    width: 100%;
    margin: 0;
}