.binaryChoice .button {
    width: 50%;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  #question-text {
      width: 90%;
      height: 90px;
      margin: auto;
      text-align: center;
      padding: 20px;
  }

  #question-text #request {
      color: gray;
  }

  #question-text #question {
      font-weight: bold;
      font-size: larger;
  }

  #question-text #hint {
    color: gray;
}