.page {
    top: env(safe-area-inset-top) !important;  /* iphone notch avoidance */
    left: env(safe-area-inset-left) !important;
}
ons-toolbar a {
    text-decoration: none;
    color: maroon;
}

ons-toolbar .center {
    text-align: center;
}

ons-toolbar .left {
    text-align: center;
}